// _variables.scss
// Couleurs
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$accent-color: #99E2D0;
$background-color: #ffffff;
$text-color: #333333;

// Polices
$font-family-main: 'Raleway', sans-serif;
$font-size-base: 16px;
$font-size-large: 2rem;

// Espacements
$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 2rem;
